.logo_container {
	display: none;
}

.container {
	display: grid;
	width: 72.5rem;
	margin: 0 auto;
	padding: 14.375rem 0 20.375rem;
}

.content {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 72.5rem;
}

.header {
	grid-column-start: 1;
	grid-column-end: 3;
	margin-bottom: 3.75rem;
}

.title {
	line-height: 3.125rem;
	margin-bottom: 1.25rem;
}

.icons {
	margin-bottom: 0.9375rem;
}

.subtitle {
	line-height: 2.5rem;
}

.form {
	width: 28.75rem;
	height: 60.25rem;
}

.form_box {
	margin-bottom: 1.25rem;
}

.form_text {
	line-height: 1.875rem;
	font-size: 18px;
	font-weight: 600;
}

.form_input.address {
	margin-top: 0.625rem;
}

.error_border {
	border: 1px solid red;
}

.dafault_border {
	border: 1px solid var(--clr-primary-5);
}

.term_of_use {
	width: 20rem;
	line-height: 1.375rem;
	font-size: 14px;
	font-weight: 400;
}

.total_price {
	position: relative;
	line-height: 3.125rem;
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	margin-top: 3.125rem;
	padding-top: 2.5rem;
}

.total_price:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	top: 0;
	left: 0;
	background-color: var(--clr-primary-4);
}

.total_price b {
	font-weight: 600;
}

@media (max-width: 1440px) {
	.container {	
		width: 69.375rem;
		padding: 13.125rem 0 18.75rem;
	}
	
	.content {
		width: 69.375rem;
	}
}

@media (max-width: 1220px) {
	.container {
		width: 57.3125rem;
		padding: 11.25rem 0 15rem;
	}

	.content {
		width: 57.3125rem;
	}	
	
	.header {
		margin-bottom: 2.1875rem;
	}
	
	.title {
		line-height: 2.8125rem;
		font-size: 34px;
		margin-bottom: 0.9375rem;
	}
	
	.icons {
		margin-bottom: 0.625rem;
	}
	
	.subtitle {
		line-height: 1.5625rem;
		font-size: 17px;
	}

	.form {
		width: 22.8125rem;
		height: 57.125rem;
	}
	
	.form_text {
		line-height: 1.5625rem;
		font-size: 17px;
	}

	.total_price {
		line-height: 2.8125rem;
		font-size: 22px;
		margin-top: 2.8125rem;
		padding-top: 1.875rem;
	}
}

@media (max-width: 992px) {
	.logo_container {
		display: flex;
		align-items: center;
		background-image: url(../public/modal/background.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 23.75rem;
		margin-top: 1.5625rem;
		padding: 5.625rem 0;
	}
	
	.logo_box {
		position: relative;
		width: calc(100% - 39.0421vw * 2);
		margin: 0 39.0421vw;
	}
		
	.logo_box:before {
		content: "";
		position: absolute;
		width: calc(100vw - 39.0421vw * 2);
		height: 0.1rem;
		background-color: var(--clr-primary-1);
		opacity: 0;
		animation: logoAnimation 2s linear;
	}
	
	.logo_box:active {
		animation: animate 1.2s linear;
	}
	
	.logo {
		width: calc(100vw - 39.0421vw * 2);
		animation: animate 1.2s linear;
	}

	.container {
		width: 45.625rem;
		padding: 3.75rem 0 5rem;
	}

	.content {
		width: 45.625rem;
	}	

	.header {
		margin-bottom: 1.875rem;
	}

	.title {
		line-height: 2.1875rem;
		font-size: 30px;
		margin-bottom: 0.625rem;
	}
	
	.icons {
		margin-bottom: 0.625rem;
	}
	
	.icons img {
		height: 0.625rem;
	}
	
	.subtitle {
		line-height: 1.25rem;
		font-size: 16px;
	}

	.form {
		width: 20rem;
		height: 58.125rem;
	}
	
	.form_text {
		line-height: 1.875rem;
		font-size: 16px;
	}

	.total_price {
		line-height: 2.8125rem;
		font-size: 22px;
		margin-top: 2.8125rem;
		padding-top: 1.875rem;
	}

	.term_of_use {
		line-height: 1.25rem;
		font-size: 13px;
	}

	.total_price {
		line-height: 2.5rem;
		font-size: 20px;
		margin-top: 1.875rem;
		padding-top: 1.25rem;
	}
}

@media  (max-width: 768px) {
	.logo_container {
		height: 52.778vw;
		padding: 11.11112vw 0;
	}

	.logo_box {
		width: 33.33334vw;
		margin: 0 33.33334vw;
	}
	
	.logo_box:before {
		width: calc(100vw - 33.33334vw * 2);
	}

	.logo {
		width: 33.33334vw;
	}

	.container {
		width: 88.889vw;
		padding: 1.875rem 0 4.375rem;
	}

	.header {
		margin-bottom: 1.25rem;
	}

	.title {
		line-height: 1.5625rem;
		font-size: 18px;
	}
		
	.icons {
		height: 0.625rem; 
		margin-bottom: 1.25rem;
	}
		
	.icons img {
		height: 100%;
	}

	.content {
		width: 88.889vw;
		flex-direction: column;
	}

	.form {
		width: 100%;
		height: 100%;
		background-color: var(--clr-white);
		border-radius: 0.625rem;
		padding: 1.875rem;
	}

	.term_of_use {
		display: none;
	}

	.total_price {
		position: initial;
		line-height: 1.875rem;
		font-size: 18px;
		margin-top: 1.875rem;
		padding-top: 0;
	}
}

@media (max-width: 650px) {
	.content {
		padding: 1.25rem;
	}

	.total_price {
		margin-top: 1.25rem;
		padding-top: 0;
	}
}