.container {
	padding: 18.125rem 0 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box {
	display: flex;
	justify-content: center;
	gap: 2.5rem;
}

.title_content {
	width: 28.75rem;
}

.title_content a {
	display: flex;
	align-items: center;
	margin-bottom: 3.125rem;
}

.title_content p {
	line-height: 1.875rem;
	font-size: 18px;
	font-weight: 400;
	margin-left: 0.625rem;
}

.title_content h6,
.text_content h6 {
	line-height: 1.875rem;
	font-size: 18px;
	font-weight: 600;
	color: var(--clr-primary-1);
	margin: 0.625rem 0;
}

.image_content {
	position: relative;
	width: 41.25rem;
	height: 21.875rem;
}

.border {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: #00000050;
}

.date {
	position: absolute;
	display: flex;
	align-items: center;
	bottom: 0;
	left: 0;
	margin: 1.25rem;
}

.date h4 {
	color: var(--clr-white);
}

.text_content {
	width: 72.5rem;
	margin-bottom: 5rem;
}

.text_content h6 {
	position: relative;
	padding-bottom: 1.25rem;
}

.text_content h6:after {
	content: "";
	position: absolute;
	width: 50%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: var(--clr-primary-4);
}

.text {
	position: relative;
	line-height: 1.875rem;
	margin-top: 2.5rem;
}

.blog-title:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: var(--clr-primary-4);
}

.blog-text {
	height: 7.5rem;
	margin-bottom: 1.875rem;
}

.blog-text p {
	line-height: 1.875rem;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}