.container {
	display: grid;
	justify-content: center;
	padding: 14.375rem 0 25.625rem;
}

.header {
	width: 28.75rem;
	margin-bottom: 7.8125rem;
}

.title {
	line-height: 3.125rem;
	margin-bottom: 1.25rem;
}

.icons {
	margin-bottom: 0.9375rem;
}

.subtitle {
	line-height: 1.875rem;
}

.filter_content {
	position: relative;
	display: flex;
	width: 72.5rem;
	margin-bottom: 3.75rem;
}

.filter_header {
	display: flex;
	align-items: center;
	gap: 0.625rem;
	margin-right: 3.5rem;
	cursor: pointer;
}

.filter_box {
	margin-left: auto;
}

.filter_header p {
	line-height: 1.875rem;
	font-weight: 400;
}

.filter_options {
	position: absolute;
	top: 3.125rem;
	width: 16.25rem;
	background-color: var(--clr-white);
	border: 1px solid var(--clr-primary-4);
	padding: 0 1.4375rem 1.875rem;
	z-index: 3;
}

.hide {
	display: none;
}

.active p {
	color: var(--clr-primary-1);
	text-decoration: underline;
}

.filter_item {
	margin-top: 1.25rem;
}

.filter_item p,
.clear_filter {
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
}

.filter_minitext {
	line-height: 1.875rem;
}

.filter_bigtext {
	line-height: 1.5625rem;
}

.search_box {
	width: 17.5rem;
	height: 2.5rem;
}

.search_box input {
	border: 1px solid var(--clr-primary-1);
}

.search_box input::placeholder {
	font-size: 18px;
	color: var(--clr-primary-4);
}

.search_box div {
	width: 2.5rem;
}

.clear_filter {
	text-align: right;
	color: var(--clr-primary-4);
	margin-top: 1.5625rem;
}

.product_content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 1.5625rem;
	height: 125.625rem;
}

.product_box {
	height: 40.625rem;
}

.notfound_content {
	text-align: center;
	margin: 1.25rem 0 5rem;
}

.notfound_content p {
	width: 35rem;
	font-size: 22px;
	font-weight: 400;
	margin: 1.875rem auto 0;
}