@keyframes animate {
	50%, 60%, 70%, 100% {
		opacity: 100%;
	} 0%, 55%, 65% {
		opacity: 0;
	}
}

@keyframes logoAnimation {
	0% {
		top: 0;
		opacity: 0;
	} 5% {
		opacity: 1;
	} 50% {
		top: 100%;
	} 95% {
		opacity: 1;
	} 100% {
		top: 0;
		opacity: 0;
	}
}

.logo_container {
	display: none;
}

.container {
	display: grid;
	justify-content: center;
	padding: 14.375rem 0;
}

.mobile {
	display: none;
}

.title {
	margin-bottom: 4.375rem;
}

.content {
	width: 72.5rem;
	display: flex;
	justify-content: space-between;
}

.header {
	display: flex;
	align-items: center;
	margin: 0 0 0.625rem 1.25rem;
}

.header h5 {
	margin-left: 0.625rem;
}

.text {
	font-size: 18px;
	margin-bottom: 1.25rem;
}

.box {
	width: 43.75rem;
	height: 24.375rem;
	border: 0.125rem solid var(--clr-primary-1);
	margin: 2.5rem 2.5rem 0 0;
}

.map {
	margin: -1.875rem 0 0 2.5rem;
}

@media (max-width: 1440px) {
	.container {	
		padding: 13.125rem 0;
	}
	
	.content {
		width: 69.375rem;
	}
}

@media (max-width: 1220px) {
	.container {	
		padding: 11.25rem 0;
	}

	.content {
		width: 57.3125rem;
	}	

	.title {
		line-height: 2.8125rem;
		font-size: 34px;
		margin-bottom: 3.4375rem;
	}

	.header h5 {
		font-size: 20px;
		margin-left: 0.625rem;
	}
	
	.text {
		font-size: 17px;
		margin-bottom: 1.25rem;
	}

	.box {
		width: 33rem;
		height: 18.5rem;
		margin: 1.875rem 1.875rem 0 0;
	}

	.map {
		width: 33rem;
		height: 18.5rem;
		margin-left: 1.875rem;
	}

	.map img {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 992px) {
	.logo_container {
		display: flex;
		align-items: center;
		background-image: url(../public/modal/background.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 23.75rem;
		margin-top: 1.5625rem;
		padding: 5.625rem 0;
	}

	.logo_box {
		position: relative;
		width: calc(100% - 39.0421vw * 2);
		margin: 0 39.0421vw;
	}
	
	.logo_box:before {
		content: "";
		position: absolute;
		width: calc(100vw - 39.0421vw * 2);
		height: 0.1rem;
		background-color: var(--clr-primary-1);
		opacity: 0;
		animation: logoAnimation 2s linear;
	}

	.logo_box:active {
		animation: animate 1.2s linear;
	}

	.logo {
		width: calc(100vw - 39.0421vw * 2);
		animation: animate 1.2s linear;
	}

	.container {
		padding: 3.75rem 0 5rem;
	}

	.mobile {
		display: block;
	}

	.title {
		line-height: 2.1875rem;
		font-size: 30px;
		margin-bottom: 0.625rem;
	}
	
	.icons {
		margin-bottom: 1.25rem;
	}

	.content {
		width: 88.889vw;
		flex-direction: column-reverse;
		background-color: var(--clr-white);
		border-radius: 0.625rem;
		padding: 1.25rem 1.25rem 3.125rem;
	}	

	.box {
		width: 48.387vw;
		height: 48.387vw;
		border: none;
		margin: 0 auto;
	}
	
	.map {
		width: 100%;
		height: 100%;
		margin: 0;
	}
		
	.header {
		margin: 1.5625rem 0 0;
	}

	.header h5 {
		font-size: 18px;
		font-weight: 600;
		margin-left: 0;
	}

	.header img {
		display: none;
	}

	.text {
		margin: 0.9375rem 0 0;
	}
}

@media (max-width: 768px) {
	.title {
		line-height: 1.875rem;
		font-size: 24px;
	}

	.icons img {
		width: 0.875rem;
		height: 0.625rem;
		margin: 0 0.25rem;
	}

	.box {
		width: 20rem;
		height: 20rem;
	}
	
	.header h5,
	.text {
		font-size: 16px;
	}

	.header {
		margin: 1.25rem 0 0;
	}

	.text {
		margin: 0.625rem 0 0;
	}
}

@media (max-width: 650px) {
	.logo_container {
		height: 52.778vw;
		padding: 11.11112vw 0;
	}

	.logo_box {
		width: 33.33334vw;
		margin: 0 33.33334vw;
	}
	
	.logo_box:before {
		width: calc(100vw - 33.33334vw * 2);
	}

	.logo {
		width: 33.33334vw;
	}

	.container {
		padding: 1.875rem 0 4.375rem;
	}
	
	.content {
		padding: 0.625rem 0.625rem 1.875rem;
	}	

	.box {
		width: 18.75rem;
		height: 18.75rem;
	}

	.title {
		font-size: 18px;
	}	

	.header h5,
	.text {
		font-size: 15px;
	}
}