.container {
	display: grid;
	justify-content: center;
	padding: 14.375rem 0;
}

.mobile {
	display: none;
}

.title {
	margin-bottom: 4.375rem;
}

.content {
	width: 72.5rem;
	display: flex;
	justify-content: space-between;
}

.header {
	display: flex;
	align-items: center;
	margin: 0 0 0.625rem 1.25rem;
}

.header h5 {
	margin-left: 0.625rem;
}

.text {
	font-size: 18px;
	margin-bottom: 1.25rem;
}

.box {
	width: 43.75rem;
	height: 24.375rem;
	border: 0.125rem solid var(--clr-primary-1);
	margin: 2.5rem 2.5rem 0 0;
}

.map {
	margin: -1.875rem 0 0 2.5rem;
}

.paragraph {
	font-size: 22px;
	font-weight: 400;
	margin: 7.5rem 0 2.5rem;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button {
	width: 21.875rem;
	height: 4.375rem;
}

@media (max-width: 1220px) {
	.content {
		width: 58rem;
		flex-direction: column;
	}	

	.box {
		margin: 2.5rem auto 0;
	}
}

@media (max-width: 992px) {
	.container {
		background-color: var(--clr-primary-6);
		padding: 7.5rem 0 4.375rem;
	}

	.mobile {
		display: block;
	}

	.title {
		font-size: 40px;
		margin-bottom: 0.625rem;
	}
	
	.icons {
		margin-bottom: 1.25rem;
	}

	.content {
		width: 88.889vw;
		flex-direction: column-reverse;
		background-color: var(--clr-white);
		border-radius: 0.625rem;
		padding: 1.25rem 1.25rem 3.125rem;
	}	

	.box {
		width: 100%;
		border: none;
		margin: 0;
	}
	
	.map {
		margin: 0;
	}
		
	.map img {
		width: 100%;
	}

	.header {
		margin: 1.875rem 0 0;
	}

	.header h5 {
		font-size: 1.25rem;
		font-weight: 600;
		margin-left: 0;
	}

	.header img {
		display: none;
	}

	.text {
		margin: 0.9375rem 0 0;
	}

	.paragraph {
		font-size: 18px;
		margin: 2.5rem 0 1.25rem;
	}

	.button {
		width: 15rem;
		height: 3.125rem;
	}
}

@media (max-width: 650px) {
	.container {
		background-color: var(--clr-primary-6);
		padding: 5rem 0 4.375rem;
	}

	.content {
		padding: 0.625rem 0.625rem 1.875rem;
	}	

	.title {
		font-size: 18px;
	}	

	.icons img {
		width: 0.875rem;
		height: 0.625rem;
		margin: 0 0.25rem;
	}

	.header {
		margin: 1.25rem 0 0;
	}

	.text {
		margin: 0.625rem 0 0;
	}

	.box,
	.map img {
		height: 18.75rem;
	}

	.header h5,
	.text,
	.paragraph {
		font-size: 15px;
	}

	.button {
		width: 10rem;
		height: 2.5rem;
	}
}

@media (max-width: 480px) {
	.container {
		padding: 18.125rem 0 4.375rem;
	}

	.mobile {
		display: block;
	}
	
	.frame,
	.logo {
		position: absolute;
		top: 3.125rem;
		left: 0;
	}
		
	.frame {
		width: 100vw;
		height: 11.875rem;
	}
	
	.logo {
		width: 33.33334vw;
		height: 6.875rem;
		margin: 2.5rem 33.33334vw;
	}
}