.container {
	display: grid;
	justify-content: center;
	padding: 14.375rem 0 15.625rem;
}

.header {
	margin-bottom: 2.5rem;
}

.title {
	line-height: 3.125rem;
	margin-bottom: 1.25rem;
}

.icons {
	margin-bottom: 0.9375rem;
}

.subtitle {
	line-height: 2.5rem;
}

.content {
	width: 72.5rem;
}

.text {
	font-weight: 400;
}

.options {
	list-style-type: disc;
	margin-left: 1.25rem;
}

.footer {
	margin-top: 3.75rem;
}

.images {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2.5rem;
}

@media (max-width: 1220px) {
	.content {
		width: 58rem;
	}	

	/* .box {
		margin: 2.5rem auto 0;
	} */
}