.container {
	display: grid;
	justify-content: center;
	padding: 14.375rem 0 8.75rem;
}

.header {
	margin-bottom: 3.125rem;
}

.title {
	line-height: 3.125rem;
	margin-bottom: 1.25rem;
}

.icons {
	margin-bottom: 0.9375rem;
}

.subtitle {
	line-height: 1.875rem;
}

.content {
	width: 72.5rem;
}

.main {
	width: 65rem;
	padding-bottom: 0.4375rem;
}

.text {
	line-height: 1.875rem;
}

.text span {
	color: var(--clr-primary-7);
}

.green1 {
	font-weight: 700;
}

.green2 {
	font-weight: 400;
}

.green3 {
	font-weight: 600;
}

.payment_method,
.delivery_region {
	margin-top: 0.625rem;
	padding-bottom: 0.625rem;
}

.payment_method h6,
.delivery_region h6 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 1.25rem;
}

.payment_method ul,
.delivery_region ul {
	list-style-type: disc;
	padding-left: 1.25rem;
}

.regions {
	display: flex;
	gap: 5rem;
}