.container {
	width: 1920px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	padding: 0 380px;
}

.links,
.icons {
	display: flex;
}

.links {
	margin: 0;
	padding: 0;
}

.item {
	width: 150px;
	font-size: 20px;
	margin: auto 0;
}

.icons {
	padding-left: 16px;
}

.icon {
	margin: auto 0;
	padding: 0 28px 0 3px;
}